<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <lynximport path="/static/navbar.html"></lynximport>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Logs</legend>

      <div id="logSearch">
        <form
          method="get"
          action="logs.js">
          <label>
            Year
            <input
              type="text"
              name="year"
              placeholder="YYYY">
          </label>
          <input
            type="submit"
            value="Search">
        </form>
      </div>
      <hr />
      <div id="divDates"></div>
    </fieldset>
  </div>

</body>

</html>
