<span>[</span>
<a
	href="/"
	class="coloredIcon"
	id="navLinkHome"></a>
<span>/</span>
<a
	href="/boards.js"
	class="coloredIcon"
	id="navBoardList"></a>
<span>/</span>
<a
	href="/sfwoverboard"
	class="coloredIcon"
	id="navOverboardSFW"></a>
<span>/</span>
<a
	href="/overboard"
	class="coloredIcon"
	id="navOverboard"></a>
<span>/</span>
<a
	href="/.static/pages/posting.html"
	class="coloredIcon"
	id="navPosting"></a>
<span>]</span>


<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/themes.js"></script>
<link
  href="/.static/css/yotsuba.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/dark.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/colgate.css"
  type="text/css"
  rel="stylesheet" />