body.theme_yotsuba {
	background: #EEF2FF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUKJFjunj1HRMDAwNWzMiILsZIpDpcarDrx28GI17zUeUYiXITLrdg08PISKyfGfGYgT38cLkRm50Dbx9944KYdIUrbohNV0SoAwD1FwRwgMmDbgAAAABJRU5ErkJggg==') repeat-x 50% 0%;
	color: #000000;
	font-family: arial,helvetica,sans-serif;
}

.theme_yotsuba .floatingMenu{
	background: #EEF2FF;
}

.theme_yotsuba hr {
	border: none;
	border-top: 1px solid #B7C5D9;
}/* LINKS */
.theme_yotsuba a,  .theme_yotsuba .hideButton,  .theme_yotsuba .unhideButton, 
 .theme_yotsuba .embedButton,  .theme_yotsuba .navClickable,  .theme_yotsuba #closeWatcherMenuButton, 
 .theme_yotsuba .watchButton,  .theme_yotsuba .watchedCellCloseButton,  .theme_yotsuba .hideFileButton ,
 .theme_yotsuba .coloredIcon, .theme_yotsuba input[type=checkbox].postingCheckbox+label::before, 
 .theme_yotsuba a.rules:after, .theme_yotsuba #selectedTab{
	color: #34345C !important;
}
.theme_yotsuba a:hover,  .theme_yotsuba .hideButton:hover,  .theme_yotsuba .unhideButton:hover,  .theme_yotsuba .embedButton:hover,  .theme_yotsuba .navClickable:hover,  .theme_yotsuba #closeWatcherMenuButton:hover,  .theme_yotsuba .watchButton:hover,  .theme_yotsuba .watchedCellCloseButton:hover,  .theme_yotsuba .hideFileButton:hover {
	color: #DD0000;
	text-shadow: none; /* gets rid of the stupid glow effect */
}/* BOARD TITLE */
.theme_yotsuba .boardHeader p {
	color: #AF0A0F;
	font-family: Tahoma,sans-serif;
}
.theme_yotsuba .boardHeader p#labelName {
	font-size: 28px;
	font-weight: bold;
}
.theme_yotsuba .boardHeader p#labelDescription {
	font-size: 8pt;
}/* REPLY + MAKE THREAD FIELDS */
.theme_yotsuba #newPostFieldset, .theme_yotsuba #quick-reply table, .theme_yotsuba .modalDecorationPanel,
.theme_yotsuba .floatingMenu, .theme_yotsuba #settingsFieldset, .theme_yotsuba .reportFieldset {
	border: 1px dashed #B7C5D9;
}
.theme_yotsuba input,  .theme_yotsuba select,  .theme_yotsuba textarea {
	background: #FFFFFF;
	border-radius: 0px;
	border: 1px solid #AAAAAA;
	color: #000000;
	font-family: arial,helvetica,sans-serif;
}
.theme_yotsuba input:hover,  .theme_yotsuba select:hover,  .theme_yotsuba textarea:hover {
	border: 1px solid #9988EE;
}/* BUTTON, DROPZONE, CAPTCHA */
.theme_yotsuba input[type="button"],  .theme_yotsuba input[type="submit"],  .theme_yotsuba button {
	background: #d4d0c8;
	border-radius: 0px;
	color: #000000;
	font-family: arial,helvetica,sans-serif;
	font-weight: 400;
}
.theme_yotsuba .dropzone,  .theme_yotsuba .selectedCell {
	background: #DADCE3;
	border: 2px dashed rgba(125, 125, 125, 0.4);
	border-radius: 0px;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: 0.2s;
	text-align:center;
}
.theme_yotsuba .subCaptchaDiv {
    text-align: center;
}/* ANNOUNCEMENT */
.theme_yotsuba #divMessage {
	color: #FF0000;
	font-size: 13px;
	font-weight: bold;
}/* THREAD FIELDS */
.theme_yotsuba .title,  .theme_yotsuba .unhideButton {
	font-weight: 400; /* makes timestamp not bold */
}
.theme_yotsuba .labelSubject { /* subject */
	color: #0F0C5D;
	font-weight: bold; /* needed for catalog */
}
.theme_yotsuba .linkName { /* email field, sage */
	font-weight: bold;
	color: #34345C;
	text-decoration: underline;
}
.theme_yotsuba .linkName:hover {
	color: #DD0000;
}
.theme_yotsuba .noEmailName,  .theme_yotsuba .noEmailName:hover { /* regular anonymous */
	color: #117743 !important;
	text-decoration: none;
	text-shadow: none;
}
.theme_yotsuba .linkSelf,  .theme_yotsuba .linkQuote { /* post number */
	color: #000000;
}
.theme_yotsuba .linkSelf:hover,  .theme_yotsuba .linkQuote:hover {
	color: #DD0000;
}
.theme_yotsuba .panelBacklinks a { /* backlinks */
	color: #34345C;
}
.theme_yotsuba .panelBacklinks a:hover {
	color: #DD0000;
}
.theme_yotsuba .quoteLink,  .theme_yotsuba .quoteLink:hover { /* >> */
	color: #D00D00;
	text-decoration: underline;
}
.theme_yotsuba .labelRole:before { /* capcode prefix */
	font-size: 10px;
}
.theme_yotsuba .labelOmission { /* posts omitted */
	color: #707070;
}
.theme_yotsuba .labelLastEdit { /* edited post */
	font-size: 10px;
}
.theme_yotsuba .labelId { /* id font */
	font-size: 12px;
}/* THREAD POSTS */
.theme_yotsuba .innerPost, .theme_yotsuba .sideCatalogCell{ 
	background-color: #D6DAF0;
}

.theme_yotsuba .sideCatalogMarkedCell{
	background-color: #EAEDFF;
}
.theme_yotsuba .innerPost{  /* normal reply */
	border: 1px solid #B7C5D9;
	border-left: none;
	border-top: none;
	border-radius: 0px;
}
.theme_yotsuba .markedPost { /* highlighted reply */
	background: #D6BAD0;
	border: 1px solid #BA9DBF;
	border-left: none;
	border-top: none;
	border-radius: 0px;
}
.theme_yotsuba span.spoiler:hover { /* spoiler hover */
	background: #000000;
	color: #FFFFFF;
}/* QUICK REPLY */
.theme_yotsuba #quick-reply table {
	background-color: #D6DAF0;
	border: 1px solid #A1A4B4;
}
.theme_yotsuba #quick-reply table {
	padding: 0em;
}
.theme_yotsuba #quick-reply th {
	background-color: #9988EE;
}
.theme_yotsuba .post-table td {
    padding-bottom: 0em;
}/* NAVIGATION BAR */
.theme_yotsuba nav {
	background-color: #D6DAF0;
	border-bottom: 1px solid #8899AA;
	color: #8899AA;
	font-size: 12px;margin: 0 0.2em;
	padding-top: 1px;
	padding-bottom: 1px;
}/* DELETE AND REPORT */
.theme_yotsuba .reportFieldset {
	border: 1px dashed #B7C5D9;
}/* CATALOG */
.theme_yotsuba #catalogId {
	color: #AF0A0F;
}
.theme_yotsuba .catalogCell {
	background: #DDE0F0;
	border: 1px solid #B7B9C4;
	border-radius: 0px;
}/* BOARD LIST */
.theme_yotsuba .boardPages {
    color: #8899AA;
}/* FRONT PAGE */
.theme_yotsuba #divLatestPosts .latestPostCell {
    background: #D6DAF0;
    border: 1px solid #B7C5D9;
}/* Watched threads menu box */
.theme_yotsuba #watchedMenu{
	background: #D6DAF0;
	border: 1px dashed #8899AA;
}
.theme_yotsuba #postingForm th, .theme_yotsuba .modalTableBody th{
	background: #DADCE3;
}

.theme_yotsuba .sideCatalogCell,.theme_yotsuba .sideCatalogMarkedCell, .theme_yotsuba #postingForm th,  .theme_yotsuba .modalTableBody th{
	border: 1px solid #888;
}
.theme_yotsuba .modalDecorationPanel{
	background: #EEF2FF;
}